<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <title> --- Флэшкарточкер --- </title>
    <%= csrf_meta_tags %>


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <section id="container">

      <header class="clearfix">
        <h1>Флэшкарточкер</h1>
        <ul class="navigation-links">
          <li><%= link_to 'Все карточки',      cards_path     -%></li>
          <li><%= link_to 'Добавить карточку', new_card_path  -%></li>
        </ul>
      </header>

      <h1>Привет, мир!</h1>

      <section>
        <% if controller_name == 'cards' %>
          <div style="margin:10px; padding:30px; border:#ededed 30px solid;">
            <p><small> Это из вьюхи </small></p>
            <%= yield %>
          </div>
        <% else %>
          <%= yield %>
        <% end %>
      </section>


      <% if @expir %>
        <section>
          <%= render 'layouts/experiments' %>
        </section>
      <% end %>


    </section>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
  </body>
</html>


